<div class="" *ngIf="!selected">

<div class="card" *ngFor="let movie of movies_list"  >
<div class="row">

  <div class="col-md-2.5">
    <img src="https://m.media-amazon.com/images/M/MV5BYzE5MjY1ZDgtMTkyNC00MTMyLThhMjAtZGI5OTE1NzFlZGJjXkEyXkFqcGdeQXVyNjU0OTQ0OTY@._V1_UX182_CR0,0,182,268_AL_.jpg" class="w-400">
  </div>

  <div class="col-md-8 px-3">

    <a class="card-title">{{movie.Nombre}}</a> <span class="badge badge-secondary">TP</span>

    <div> <span class="title_span">Director:</span> <span class="card-text"> {{movie.Director}}</span> </div>

    <div> <span class="title_span">Protagonistas:</span> <span class="card-text"> {{movie.Protagonistas}}</span> </div>
    <div> <span class="title_span">Duracion:</span> <span class="card-text"> {{movie.Duracion}} minutos</span> </div>
    <button class="btn btn-success"  *ngFor="let n of movie.Screening_Ids" (click)="selectScreening(n)"  > {{n}}:00 pm </button>
  </div>

</div>

</div>

</div>
